/* Small-- Mobile*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


@media (max-width: 768px) {
  .left-header {
    display: none;
  }

  .controls{
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
    .control{
        margin: 1rem .3rem;
    }
}

  .theme-btn {
    width: 50px;
    height: 50px;
  }

  .right-header {

    margin-top: 14%;

    p {
      font-size: 20px;
      width: 100%;
    }

    padding-left: 10%;

    width: 100%;

    h1 {
      font-size: 30px;
    }
  }


  /* Second Page */

  .left-about {
    margin-top: 45px;
  }

  .stat-title {
    margin-top: 0;
  }
  .timeline {
    .timeline-item {
      padding-left: 0;
      .t1-icon{
        display: none;
      }

      .t1-duration {
        padding: 0;
        margin: 0;
      }
    }  
  }
  .container{
    .right-about-r,
    .right-about-l{
      .about-item{
        width: 70%;
        transform: translateX(25%);
        animation: fadeInRight 3s ease-in-out -1s 2;
        
        .about-text{
          .large-text {
            font-size: 2rem;
          }
          .small-text{
            font-size: 1rem;
          }
        }
      }
    }

    // .right-about-l {
    //   .about-item{

    //   }
    // }
  }

  .main-title{
    h2{
      margin-top: 40px;
    }
    
  }

  form {
    margin-left: -55px;
  }

  @keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(5%);
    }
    100% {
        opacity: 1;
        transform: translateX(25%);
    }
  }
}